<ons-page class="center">
    <ons-navigator-toolbar title="Teh First"  right-button-icon="fa fa-lg fa-angle-right"
                           on-right-button-click="ons.navigator.pushPage('page2.html')">
    </ons-navigator-toolbar>
</ons-page>